{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Pokemon</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt labore voluptatum sequi explicabo, ad magni eius quibusdam? Beatae officia harum culpa quisquam nisi autem eveniet perferendis natus, quod iusto itaque.</p>
    </div>

    <dir class="col-4">
        <img src="assets/img/pokemon.jpg" class="img-thumbnail">
    </dir>
</div>
{{> footer}}